body {
  background-image: url(https://previews.123rf.com/images/annahamster/annahamster1904/annahamster190400088/120744588-coral-color-abstract-background-color-of-the-year-2019-.jpg);
  position: relative;
}
.namebar {
  background: teal;
  margin-left: 100px;
  padding: px 10px;
}
.navbar {
  padding-right: 100px;
}
.mainText {
  padding: 0 10px 20px 10px;
}
.container {
  background: white;
  border-radius: 10px;
}
.col-md-6 {
}

h3 {
  bottom: 45px;
}
.photo-one {
  left: -340px;
}
.photo-two {
  left: -348px;
}
.photo-three {
  left: -337px;
}
.photo-four {
  left: -374px;
}

.first {
  padding-left: 30%;
}
.submit {
  background: teal;
}
.context {
  color: teal;
  font-size: 20px;
}

.contact-footer {
  margin-top: 116px;
}

@media screen and (max-width: 1300px) {
  .confoot {
    position: absolute;
    bottom: -400px;
  }
}
@media screen and (max-width: 767px) {
  .photos {
    font-size: 30px;
    background: teal;
    color: white;
    padding: 10px 104px;
    position: absolute;
    bottom: 1187px;
    left: 35px;
    z-index: 3;
  }
}
@media screen and (max-width: 600px) {
  .container {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .mainText {
    display: inline-block;
  }
  .namebar {
    margin-left: 0px;
  }
}
@media screen and (max-width: 357px) {
  .container {
    width: 100%;
  }
}
